params {
    reads = "${projectDir}/raw_data/fastq_output/fastp_output"
    outdir = "${projectDir}/results"

    // Kraken2
    kraken_sif = "/COLD_STORAGE/software/tools/kraken2/kraken2.sif"
    kraken_db  = "/COLD_STORAGE/megha/Database/k2_standard_08_GB_20251015"

    // Bracken
    bracken_sif = "/COLD_STORAGE/megha/tools/bracken/bracken.sif"

    // MetaPhlAn
    metaphlan_sif   = "/COLD_STORAGE/megha/tools/Humann3/Humann3.sif"
    metaphlan_db    = "/COLD_STORAGE/megha/Database/metaphlan"
    metaphlan_index = "mpa_vJan25_CHOCOPhlAnSGB_202503"

    // HUMAnN
    humann_sif = "/COLD_STORAGE/megha/tools/Humann3/Humann3.sif"
    humann_chocophlan = "${projectDir}/humann_db/chocophlan"
    humann_uniref = "/COLD_STORAGE/megha/Database/uniref"
    humann_metaphlan_db = "${projectDir}/humann_db/metaphlan_vJun23"
    humann_metaphlan_index = "mpa_vJun23_CHOCOPhlAnSGB_202307"

}

process {
    executor = 'local'

    withName: KRAKEN2 {
        container = params.kraken_sif
        cpus = 8
        memory = '32 GB'
        time = '24h'
    }

    withName: BRACKEN {
        container = params.bracken_sif
        cpus = 4
        memory = '16 GB'
        time = '12h'
    }
    
    withName: METAPHLAN {
        container = params.metaphlan_sif
        cpus = 8
        memory = '32 GB'
        time = '24h'
    }
 
    withName: HUMANN {
    container = params.humann_sif
    cpus = 8
    memory = '64 GB'
    time = '48h'
   }

}

profiles {

    singularity {
        singularity {
            enabled = true
            autoMounts = true
            runOptions = '--bind /COLD_STORAGE,/SCRATCH'
        }
    }
}
